/* All styles for your header Components live here */
.headerContainer {
    border: 2px solid red;
    display: flex;
    

}
.headerThumbnail {
    border: 2px solid green;
    width: 20%;
    /* height: 50px; */
}
img {
    max-width: 100%;
    height: auto;
}

.headerContent {
    border: 2px solid lightblue;
}
.headerTitle {

}
